

@font-face {
    font-family: 'thick';
    src: url('fonts/Choldem Rosther.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: 'thick', Arial, sans-serif;
    color: black;
    text-align: left;
}
.hero-container {
    position: relative;
    width: 100%;
    height: 850px;
    overflow: hidden;
    background-color: black;
}
.hero-image {
    filter: contrast(1.1) brightness (1.05);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}
.hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 3;
    text-shadow: 
                -0.5px -0.5px 0 #fff,
                0.5px -0.5px 0 #fff,
                -0.5px 0.5px 0 #fff,
                0.5px 0.5px 0 #fff;
}
.hero-text h1 {

    letter-spacing: 3px;
    font-size: 80px;    
    color: rgb(255, 67, 67);
}
.hero-text h2 {
    margin-top: -50px;
    letter-spacing: 2px;
    font-size: 30px;
    color: rgb(1, 75, 0);
}
.about-container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.about-section {
    margin-left: auto;
    margin-right: auto;
    padding: 170px 200px;
    background-color: #fffae8;
    color: #000000;
}

.image-container {
    width: 1500px;
    padding: 20px;
    border-radius: 30px;
    border-radius: 10% 10% 10% 10%;
    order: 1;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
}
.image-container img {
    align-items: center;
    justify-content: center;
    float: center;
    border-radius: 10% 10% 10% 10%;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    height: auto;
    display: block;
}

.about-text h2 {
    width: 400px;
    order: 2;
    flex: 1 1 50%;
    color: rgb(27, 27, 27);
    font-size: 80px;
    margin-bottom: 20px;
    text-align: left;
}

.about-text p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    font-size: 20px;
    text-align: left;    
    line-height: 25px;
    max-width: 100%;
    margin: 0 auto;
}
.menu-section {
    background-color: #002301;
    color: #fff7ea;
    padding: 600px 100px;
    margin-bottom: 0 !important;
    padding-bottom: 100px !important;
}
.master-menu {
    background-color: #fffae8;
}
.menu-category {
    background-color: #ffffff;
}
.menu-group h4 {
    color: #d32f2f;
    margin-bottom: 5px;
}
.option-grid {
    display: flex;
    justify-content: space-between;
}
.option-grid label {
    color: #000;
    font-weight: 500;
}
.menu-grid-header {
    color: #000000;
}
.menu-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}
.menu-item-row:has(input[type="checkbox"]:checked) {
    background-color: rgba(255, 204, 0, 0.2);
    border-left: 4px solid #ffcc00;
    transition: all 0.2s ease-in-out;
}
.menu-item-row:has(input[type="checkbox"]:checked) .item-name {
    font-weight: bold;
}
.item-name {
    color: #000000;
    font-weight: 600;
}
.item-name.spicy{
    color: #d32f2f;
    font-weight: bold;
}
.item-description {
    padding: 5px;
    font-size: 0.85rem;
    color: #555;
    margin: 5px 0 0 0;
    font-style: italic; 
    max-width: 80%;
}
.item-info {
    display: flex;
    flex-direction: column;
}

.menu-text h2 {
    color: rgb(255, 252, 241);
    margin-top: -450px;
    font-size: 100px;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 3px;
}
.menu-text p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 4.5px;
    font-size: 20px;
    text-align: center;    
    line-height: 25px;
    max-width: 800px;
    margin: 0 auto;
}
.menu-images {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.slider-container {
    width: 100%;
    cursor: default;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 80px;
}
.slider-wrapper {
    overscroll-behavior-x: contain;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 150%;
    margin: 0px auto;
    border-radius: 25px;

    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}
.slider-wrapped::webkit-scrollbar {
    display: none;
}
.slider {
    flex: 0 0 80%;
    flex-shrink: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 30px;
    border-radius: 25px;
}
.slider img {
    cursor: default;
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: auto;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.image-track {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 30px;
    width: max-content;
}

.img-container {
    flex: 0 0 450px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    height: 550px;  
    flex-shrink: 0;
    object-fit: cover;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: bottom;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-container:hover .overlay {
    opacity: 0.9;
}
.text {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px; 
    text-align: center;
    padding: 70px;
}


.location-section {
    padding: 200px 50px;
    background-color: #fffae8;
    color: #000000;
    border-top: 1px solid #fffae8;
    border-bottom: 1px solid #fffae8;
}
.location-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 50px;
}
.location-text h2 {
    color: rgb(27, 27, 27);
    margin-top: -300px;
    font-size: 80px;
    margin-bottom: 200px;
    text-align: center;
    flex: 1;
    letter-spacing: 2px;
}
.location-text h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
.location-text p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.5px;
    font-size: 20px;
    text-align: left;    
    line-height: 40px;
    max-width: 800px;
    margin: 0 auto;
}
.address-link {
    text-decoration: none;
    color: inherit;
    display: block;
}
.address-link:hover {
    color: #007bff;
    text-decoration: underline;
    opacity: 0.8;
}
.icon-spacing {
    margin-right: 10px;
}
.maps {
    flex: 1;
    width: 100%;
    overflow: hidden;
    max-width: 1800px;
    margin: 0 auto;
}
.maps iframe {
    height: 700px;
    width: 100%;
    border-radius: 30px;
    border: none;
}
.hours-section {
    background-color: #000000;
    color: #ebebeb;
    padding-top: 20px;
    padding-bottom: 0px;
    height: 250px;
    overflow: hidden;
}
.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 300px;
    padding-left: 300px;
}
.hour-text h2 {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: right;
    letter-spacing: 2px;
}
.links h2 {
    font-size: 30px;
    margin-top: 0px;
    text-align: right;
    letter-spacing: 2px;
}
.hour-text p {
    color: white;
    font-size: 15px;
    text-align: right;
    letter-spacing: 1px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}
.links h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.links h2 {
    margin-bottom: 0px;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    color: #cccccc;
}

.box-divider {
    border-top: 1px solid white;
    margin: 15px auto;
    width: 100%;
}
#faq {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: -100px;
}

details {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    display: block;
}
details p {
    margin: 0;
    padding: 0 15px 15px 15px;
}
details[open] summary ~ * {
    animation: sweep .3s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; transform: translateY(0px);}
    100%  {opacity: 1; transform: translateY(0);}
}
summary {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 15px;
    color: #000000;
}

summary::after {
    content: '+';
    float: right;
}
details[open] summary::after {
    content: '-';
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 40px;
}
p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    color: #333;
    padding: 10px;
}

.main-header {
    background-color: #1a1a1a;
    padding: 0px 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 3000;
    display: flex;
    align-items: center;
}
.nav-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    height: 60px;
    max-width: 1200px;
    gap: 40px;
    padding: 0px 50px;
}
.right-nav {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    margin-right: auto;
}

.nav-links a {
     color: white;
     text-decoration: none;
}
.nav-links a:hover {
    color: #cccccc;
}

.nav-links {
    color: black;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}
.order-btn {
    background-color: #c93d33;
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 4px 0;
}
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    background-color: #111;
    transition: 0.4s;
    padding-top: 100px;
}
.menu-icon {
    z-index: 3001;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}
.side-menu a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    border-bottom: 1px solid #444;
    transition: 0.3s;
}
.side-menu a:hover {
    background-color: #444;
    color: #fceea7;
}

@media screen and (max-width: 768px) {
    .about-section, .menu-section, .location-section, .hours-section {
        padding: 150px 30px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .about-text h2 {
        font-size: 80px;
    }
    .about-text p {
        font-size: 16px;
        line-height: 20px;
    }
    .about-image {
        align-items: center;
        justify-content: center;
        float: center;
        display: block;
        width: 100%;
        margin: 10px 0;
        max-width: none;
    }
    .image-container {
        
        width: 89%;
        margin-top: 30px;
        margin-bottom: -70px;
    }
    .hero-text h2 {
        font-size: 20px;
        margin-top: -30px;
    }
    .img-container {
        flex: 0 0 70vw;
        width: 100%;
        max-width: 400px;
        height: 400px;
        margin: 0 auto;

    }
    .img-container img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }
    .image-track {
        flex-wrap: nowrap !important;
        animation: none !important;
        transform: none !important;
        display: flex;
        width: 100%;
        overflow-x: auto;

    }
    .slider {
        flex: 0 0 100%;

    }
    .slider-wrapper {
        width: 100%;
        align-items: center;
    }
    .slider-container {
        width: 100%;
        overflow: auto;
        display: block;
    }
    .overlay {
        position: abolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        opacity: 0;
        transition: opacity 0.4s ease;
        pointer-events: none;
    }
    .text {
        font-size: 18px; 
        padding: 20px;
    }
    #menu-highlights h1, #menu-highlights p {
        text-align: center;
        font-size: 18px;
        padding: 0 20px;
    }
    .menu-text h2 {
        font-size: 50px;
        margin-top: -100px;
    }  
    .overlay .text {
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        text-align: center;
    }
    .img-container:hover .overlay {
        opacity: 1;
    }
    .img-container.active .overlay .text {
        opacity: 1;
        transform: translateY(0);
        display: block;
    }
}